@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-width: 280px;
  width: 100%;
  min-height: 100vh;
  font-size: 15px;
  color: #ffffff9e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lexend Deca', sans-serif;
  background-color: #f2f2f2;
}

.card-div {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  max-width: 885px;
  margin: 20px;
}

.card {
  padding: 50px;
  flex: 1;
}

.card h1 {
  font-family: 'Big Shoulders Display';
  color: #f2f2f2;
  font-size: 40px;
  margin: 25px 0;
}

.card p {
  font-size: 14px;
  line-height: 1.8;
  max-width: 275px;
}

.card button {
  padding: 10px 25px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  border: 3px solid #fff;
  background-color: #fff;
  border-radius: 25px;
  margin-top: 100px;
  transition: 0.3s ease-in-out;
}

.card button:hover {
  background-color: transparent;
  color: #f2f2f2 !important;
  transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .card-div {
    flex-direction: column;
  }
  .card button {
    margin-top: 25px;
  }
}
